html {
    overflow-y: scroll;
}
img {
}
html, body, .b-r a, .b-r abbr, .b-r acronym, .b-r address, .b-r applet, .b-r article, .b-r aside, .b-r audio, .b-r b, .b-r big, .b-r blockquote, .b-r canvas, .b-r caption, .b-r center, .b-r cite, .b-r code, .b-r dd, .b-r del, .b-r details, .b-r dfn, .b-r div, .b-r dl, .b-r dt, .b-r em, .b-r embed, .b-r fieldset, .b-r figcaption, .b-r figure, .b-r footer, .b-r form, .b-r h1, .b-r h2, .b-r h3, .b-r h4, .b-r h5, .b-r h6, .b-r header, .b-r i, .b-r iframe, .b-r img, .b-r ins, .b-r kbd, .b-r label, .b-r legend, .b-r li, .b-r mark, .b-r menu, .b-r nav, .b-r object, .b-r ol, .b-r output, .b-r p, .b-r pre, .b-r q, .b-r ruby, .b-r s, .b-r samp, .b-r section, .b-r small, .b-r span, .b-r strike, .b-r strong, .b-r sub, .b-r summary, .b-r sup, .b-r table, .b-r tbody, .b-r td, .b-r tfoot, .b-r th, .b-r thead, .b-r time, .b-r tr, .b-r tt, .b-r u, .b-r ul, .b-r var, .b-r video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.b-r button, .b-r input, .b-r optgroup, .b-r select, .b-r textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
.b-r article, .b-r aside, .b-r details, .b-r figcaption, .b-r figure, .b-r footer, .b-r header, .b-r menu, .b-r nav, .b-r section {
    display: block;
}
.b-r blockquote, .b-r q {
    quotes: none;
}
.b-r blockquote:before, .b-r blockquote:after, .b-r q:before, .b-r q:after {
    content: none;
}
.b-r table {
    border-collapse: collapse;
    border-spacing: 0;
}
.b-f button {
    overflow: visible;
    width: auto;
}
.b-f input::-moz-focus-inner, .b-f button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.b-f button, .b-f input[type="button"], .b-f input[type="reset"], .b-f input[type="submit"] {
    -moz-appearance: button;
    cursor: pointer;
}
.b-f button[disabled], .b-f input[disabled] {
    cursor: default;
}
.b-f input[type="checkbox"], .b-f input[type="radio"] {
    padding: 0;
}
.b-f textarea {
    overflow: auto;
    vertical-align: top;
}
body {
    font-family: Arial,Helvetica,freesans,sans-serif;
    font-size: 62.5%;
    line-height: 1;
}
.b-g-p, .b-r .b-g-p {
    padding: 0 8px;
}
.b-g-m, .b-r .b-g-m {
    margin: 0 8px;
}
.b-g-p, .b-r .b-g-p {
    padding: 0 16px;
}
.b-g-m, .b-r .b-g-m {
    margin: 0 16px;
}
.b-g-p, .b-r .b-g-p {
    margin: 0 auto;
    max-width: 976px;
    padding: 0 16px;
}
.b-g-m, .b-r .b-g-m {
    margin: 0 auto;
    max-width: 976px;
}
.orb-nav-pri .orb-d, .orb-nav-pri .orb-w, .orb-footer .orb-d, .orb-footer .orb-w {
    display: none;
}
.orb-location-w .orb-w, .orb-location-d .orb-d {
    display: block;
}
.orb-nav-empty .orb-d, .orb-nav-empty .orb-w {
    display: none;
}
#orb-header {
    position: relative;
}
.orb-nav-pri {
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.3em;
    font-weight: bold;
    transition: background 0.25s ease 0s;
    z-index: 90;
}
.orb-nav-pri:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.orb-nav-pri a {
    display: block;
    line-height: 1.692em;
    min-height: 1.692em;
    padding: 0.462em 8px 0.308em;
    text-decoration: none;
}
.orb-nav-pri img {
    display: block;
}
.orb-nav-pri ul {
    list-style: none outside none;
}
.orb-nav-pri li {
    float: left;
}
.orb-nav-pri .orb-icon {
    background-image: url("../img/orb-sprite.gif");
    background-repeat: no-repeat;
}
.orb-nav-pri .orb-icon-arrow {
    background-position: 0 -53px;
}
.orb-nav-pri .orb-nav-id {
    border-left: 1px solid #CCCCCC;
}
.orb-nav-pri .orb-nav-id a {
    padding-left: 26px;
    position: relative;
}
.orb-nav-pri .orb-nav-id img {
    left: 8px;
    position: absolute;
    top: 0.612em;
}
.orb-nav-pri .orb-nav-id span {
    position: absolute;
    top: -999em;
}
.orb-nav-pri .orb-nav-blocks img {
    height: 21px;
    width: 74px;
}
.orb-nav-pri .orb-nav-blocks a {
    padding-left: 0;
    padding-right: 8px;
}
.orb-nav-pri .orb-nav-search {
    border-left: 1px solid #CCCCCC;
}
.orb-nav-section {
    float: left;
}
.orb-nav-links ul {
    border-right: 1px solid #CCCCCC;
    overflow: hidden;
}
.orb-nav-links img {
    padding-right: 2px;
    padding-top: 0.2em;
}
.orb-nav-links li {
    border-left: 1px solid #CCCCCC;
    display: none;
}
.orb-nav-links h2 {
    position: absolute;
    top: -999em;
}
.orb-nav-links .orb-nav-focus-on a {
    border-bottom: 0.308em solid white;
    padding-bottom: 0;
}
.orb-nav-search {
    float: right;
}
.orb-nav-search a {
    border-right: 1px solid #CCCCCC;
}
.orb-nav-search img {
    padding-right: 2px;
    padding-top: 0.15em;
}
.orb-nav-search form {
    display: none;
    padding: 0.615em 0 0.539em 8px;
}
.orb-nav-search label {
    position: absolute;
    top: -999em;
}
.orb-nav-search form div {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 1.846em;
    min-height: 24px;
    width: 200px;
}
.orb-nav-search input, .orb-nav-search button {
    background: none repeat scroll 0 center transparent;
    border: 0 none;
    font-weight: bold;
    height: 1.846em;
    min-height: 24px;
}
.orb-nav-search button {
    padding: 0 8px 0 7px;
}
.orb-nav-search input {
    color: #333333;
    float: left;
    font-weight: bold;
    padding: 0 0 0 6px;
    width: 162px;
}
.orb-nav-search input:-moz-placeholder {
    color: #333333;
    font-weight: bold;
}
.orb-nav-search input:focus:-moz-placeholder {
    color: #999999;
}
.orb-nav-focus a:focus, .orb-nav-focus a:hover, .orb-nav-focus a:active {
    border-bottom: 0.308em solid white;
    padding-bottom: 0;
}
#orb-nav-more {
    display: block;
}
#orb-nav-more a {
    padding-right: 18px;
    position: relative;
}
#orb-nav-more span {
    display: block;
    height: 3px;
    position: absolute;
    right: 8px;
    top: 17px;
    width: 6px;
}
.orb-nav-pri .orb-skip-links {
    float: left;
    position: relative;
}
.orb-nav-pri .orb-skip-links a, .orb-nav-pri .orb-skip-links h2 {
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    color: #333333;
    display: block;
    left: -76px;
    line-height: 2em;
    margin-top: 1.3em;
    min-width: 10em;
    position: absolute;
    top: -999em;
    white-space: nowrap;
    z-index: 1;
}
.orb-nav-pri .orb-skip-links a:focus, .orb-nav-pri .orb-skip-links a:active {
    top: 1.692em;
}
.orb-nav-lock {
    height: 2.462em;
    overflow: hidden;
}
.orb-nav-dyn li {
    display: block;
}
.orb-nav-dyn .orb-nav-hide {
    display: none;
}
.orb-nav-dyn .orb-nav-search {
    border-left: medium none;
}
.orb-nav-pri {
    z-index: 999;
}
.orb-nav-pri .orb-menu li {
    color: #333333;
}
#orb-panel-more {
    background: none repeat scroll 0 0 white;
}
#orb-panel-more a, #orb-panel-more h2 {
    color: black;
}
#orb-panel-more li a:hover, #orb-panel-more li a:focus, #orb-panel-more li a:active {
    background: none repeat scroll 0 0 black;
    color: white;
}
.orb-nav-pri-black {
    background: none repeat scroll 0 0 black;
}
.orb-nav-pri-black, .orb-nav-pri-black a, .orb-nav-pri-black .orb-nav-sec h2, .orb-nav-pri-black .orb-nav-sec a {
    color: white;
}
.orb-nav-pri-black, .orb-nav-pri-black .orb-nav-links ul, .orb-nav-pri-black .orb-nav-links li, .orb-nav-pri-black .orb-nav-id, .orb-nav-pri-black .orb-nav-search a, .orb-nav-pri-black .orb-nav-search, .orb-nav-pri-black .orb-panel {
    border-color: #666666;
}
.orb-nav-pri-grey {
    background: none repeat scroll 0 0 #4C4C4C;
}
.orb-nav-pri-grey, .orb-nav-pri-grey a, .orb-nav-pri-grey .orb-nav-sec h2, .orb-nav-pri-grey .orb-nav-sec a {
    color: white;
}
.orb-nav-pri-grey, .orb-nav-pri-grey .orb-nav-links ul, .orb-nav-pri-grey .orb-nav-links li, .orb-nav-pri-grey .orb-nav-id, .orb-nav-pri-grey .orb-nav-search a, .orb-nav-pri-grey .orb-nav-search, .orb-nav-pri-grey .orb-panel {
    border-color: #949494;
}
.orb-nav-pri-transparent-dark {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}
.orb-nav-pri-transparent-dark, .orb-nav-pri-transparent-dark a, .orb-nav-pri-transparent-dark .orb-nav-sec h2, .orb-nav-pri-transparent-dark .orb-nav-sec a {
    color: white;
}
.orb-nav-pri-transparent-dark, .orb-nav-pri-transparent-dark .orb-nav-links ul, .orb-nav-pri-transparent-dark .orb-nav-links li, .orb-nav-pri-transparent-dark .orb-nav-id, .orb-nav-pri-transparent-dark .orb-nav-search a, .orb-nav-pri-transparent-dark .orb-nav-search, .orb-nav-pri-transparent-dark .orb-panel {
    border-color: rgba(255, 255, 255, 0.4);
}
.orb-nav-pri-transparent-medium {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
}
.orb-nav-pri-transparent-medium, .orb-nav-pri-transparent-medium a, .orb-nav-pri-transparent-medium .orb-nav-sec h2, .orb-nav-pri-transparent-medium .orb-nav-sec a {
    color: white;
}
.orb-nav-pri-transparent-medium, .orb-nav-pri-transparent-medium .orb-nav-links ul, .orb-nav-pri-transparent-medium .orb-nav-links li, .orb-nav-pri-transparent-medium .orb-nav-id, .orb-nav-pri-transparent-medium .orb-nav-search a, .orb-nav-pri-transparent-medium .orb-nav-search, .orb-nav-pri-transparent-medium .orb-panel {
    border-color: rgba(255, 255, 255, 0.4);
}
.orb-nav-pri-transparent-light {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}
.orb-nav-pri-transparent-light, .orb-nav-pri-transparent-light a, .orb-nav-pri-transparent-light .orb-nav-sec h2, .orb-nav-pri-transparent-light .orb-nav-sec a {
    color: white;
}
.orb-nav-pri-transparent-light, .orb-nav-pri-transparent-light .orb-nav-links ul, .orb-nav-pri-transparent-light .orb-nav-links li, .orb-nav-pri-transparent-light .orb-nav-id, .orb-nav-pri-transparent-light .orb-nav-search a, .orb-nav-pri-transparent-light .orb-nav-search, .orb-nav-pri-transparent-light .orb-panel {
    border-color: rgba(255, 255, 255, 0.4);
}
.orb-nav-pri-transparent-text-dark {
    background: none repeat scroll 0 center transparent;
}
.orb-nav-pri-transparent-text-dark, .orb-nav-pri-transparent-text-dark a, .orb-nav-pri-transparent-text-dark .orb-nav-sec h2, .orb-nav-pri-transparent-text-dark .orb-nav-sec a {
    color: #333333;
}
.orb-nav-pri-transparent-text-dark, .orb-nav-pri-transparent-text-dark .orb-nav-links ul, .orb-nav-pri-transparent-text-dark .orb-nav-links li, .orb-nav-pri-transparent-text-dark .orb-nav-id, .orb-nav-pri-transparent-text-dark .orb-nav-search a, .orb-nav-pri-transparent-text-dark .orb-nav-search, .orb-nav-pri-transparent-text-dark .orb-panel {
    border-color: rgba(0, 0, 0, 0.3);
}
.orb-nav-pri-transparent-text-light {
    background: none repeat scroll 0 center transparent;
}
.orb-nav-pri-transparent-text-light, .orb-nav-pri-transparent-text-light a, .orb-nav-pri-transparent-text-light .orb-nav-sec h2, .orb-nav-pri-transparent-text-light .orb-nav-sec a {
    color: white;
}
.orb-nav-pri-transparent-text-light, .orb-nav-pri-transparent-text-light .orb-nav-links ul, .orb-nav-pri-transparent-text-light .orb-nav-links li, .orb-nav-pri-transparent-text-light .orb-nav-id, .orb-nav-pri-transparent-text-light .orb-nav-search a, .orb-nav-pri-transparent-text-light .orb-nav-search, .orb-nav-pri-transparent-text-light .orb-panel {
    border-color: rgba(204, 204, 204, 0.3);
}
.orb-nav-pri-white, .orb-nav-active {
    background: none repeat scroll 0 0 white;
}
.orb-nav-pri-white, .orb-nav-pri-white a, .orb-nav-pri-white .orb-nav-sec h2, .orb-nav-pri-white .orb-nav-sec a, .orb-nav-active, .orb-nav-active a, .orb-nav-active .orb-nav-sec h2, .orb-nav-active .orb-nav-sec a {
    color: #333333;
}
.orb-nav-pri-white, .orb-nav-pri-white .orb-nav-links ul, .orb-nav-pri-white .orb-nav-links li, .orb-nav-pri-white .orb-nav-id, .orb-nav-pri-white .orb-nav-search a, .orb-nav-pri-white .orb-nav-search, .orb-nav-pri-white .orb-panel, .orb-nav-active, .orb-nav-active .orb-nav-links ul, .orb-nav-active .orb-nav-links li, .orb-nav-active .orb-nav-id, .orb-nav-active .orb-nav-search a, .orb-nav-active .orb-nav-search, .orb-nav-active .orb-panel {
    border-color: #CCCCCC;
}
.orb-nav-pri-white .orb-nav-search form div, .orb-nav-active .orb-nav-search form div {
    background: none repeat scroll 0 0 #E4E4E4;
}
.orb-nav-pri-white .orb-nav-focus a:focus, .orb-nav-pri-white .orb-nav-focus a:hover, .orb-nav-pri-white .orb-nav-focus a:active, .orb-nav-pri-transparent-text-dark .orb-nav-focus a:focus, .orb-nav-pri-transparent-text-dark .orb-nav-focus a:hover, .orb-nav-pri-transparent-text-dark .orb-nav-focus a:active, .orb-nav-active .orb-nav-focus a:focus, .orb-nav-active .orb-nav-focus a:hover, .orb-nav-active .orb-nav-focus a:active {
    border-bottom-color: #757575;
}
.orb-nav-pri-white .orb-icon-arrow, .orb-nav-pri-transparent-text-dark .orb-icon-arrow, .orb-nav-active .orb-icon-arrow {
    background-position: 0 0;
}
.orb-nav-pri-white .orb-nav-focus-on a, .orb-nav-pri-transparent-text-dark .orb-nav-focus-on a, .orb-nav-active .orb-nav-focus-on a {
    border-bottom-color: #757575;
}
.orb-nav-pri .orb-nav-news a:focus, .orb-nav-pri .orb-nav-news a:hover, .orb-nav-pri .orb-nav-news a:active {
    border-bottom-color: #9B2313;
}
.orb-nav-pri .orb-nav-sport a:focus, .orb-nav-pri .orb-nav-sport a:hover, .orb-nav-pri .orb-nav-sport a:active {
    border-bottom-color: #FFE711;
}
.orb-nav-pri .orb-nav-weather a:focus, .orb-nav-pri .orb-nav-weather a:hover, .orb-nav-pri .orb-nav-weather a:active {
    border-bottom-color: #77CDFF;
}
.orb-nav-pri .orb-nav-iplayer a:focus, .orb-nav-pri .orb-nav-iplayer a:hover, .orb-nav-pri .orb-nav-iplayer a:active {
    border-bottom-color: #ED3482;
}
.orb-nav-pri-white .orb-nav-tv a:focus, .orb-nav-pri-white .orb-nav-tv a:hover, .orb-nav-pri-white .orb-nav-tv a:active, .orb-nav-pri-white .orb-nav-radio a:focus, .orb-nav-pri-white .orb-nav-radio a:hover, .orb-nav-pri-white .orb-nav-radio a:active, .orb-nav-pri-transparent-text-dark .orb-nav-tv a:focus, .orb-nav-pri-transparent-text-dark .orb-nav-tv a:hover, .orb-nav-pri-transparent-text-dark .orb-nav-tv a:active, .orb-nav-pri-transparent-text-dark .orb-nav-radio a:focus, .orb-nav-pri-transparent-text-dark .orb-nav-radio a:hover, .orb-nav-pri-transparent-text-dark .orb-nav-radio a:active {
    border-bottom-color: #333333;
}
.orb-nav-pri a {
    line-height: 2.27em;
    min-height: 2.27em;
    padding: 0.462em 16px 0.308em;
}
.orb-nav-pri .orb-nav-blocks img {
    height: 24px;
    padding-top: 2px;
    width: 84px;
}
.orb-nav-pri .orb-nav-search img {
    padding-right: 0;
    padding-top: 1px;
}
.orb-nav-pri .orb-nav-search a {
    display: none;
}
.orb-nav-pri .orb-nav-search form {
    display: block;
}
.orb-nav-pri .orb-nav-id a {
    padding-left: 34px;
}
.orb-nav-pri .orb-nav-id img {
    left: 16px;
    top: 0.862em;
}
.orb-nav-pri .orb-icon-id {
    background-position: 16px -92px;
    padding-left: 42px;
}
.orb-nav-pri #orb-nav-more a {
    padding-right: 30px;
}
.orb-nav-pri #orb-nav-more span {
    right: 16px;
    top: 20px;
}
.orb-nav-pri .orb-skip-links a {
    margin-top: 1.5em;
}
.orb-nav-pri .orb-skip-links a:focus, .orb-nav-pri .orb-skip-links a:active {
    left: -100px;
    top: 2.27em;
}
.orb-nav-lock {
    height: 3.04em;
}
.orb-nav-pri .orb-nav-id a {
    min-width: 8.62em;
    padding-left: 42px;
}
.orb-nav-pri .orb-nav-id span {
    position: static;
}
.orb-nav-sec {
    color: #333333;
    font-size: 1.3em;
    line-height: 3.2;
    padding-top: 0.65em;
}
.orb-nav-sec .orb-footer-inner {
    border-top: 1px solid #CCCCCC;
    padding-top: 1.6em;
}
.orb-nav-sec .orb-footer-inner h2 span {
    left: 0;
    position: absolute;
    top: -999em;
}
.orb-nav-sec .orb-footer-inner h2 img {
    height: 21px;
    width: 74px;
}
.orb-footer {
    border-top: 1px solid #CCCCCC;
}
#orb-aside .orb-footer-inner {
    border: 0 none;
    padding-top: 1.23em;
}
.orb-nav-sec a {
    color: #333333;
    text-decoration: none;
}
.orb-nav-sec a:focus, .orb-nav-sec a:hover {
    text-decoration: underline;
}
.orb-nav-sec ul {
    list-style-type: none;
    margin-left: -8px;
    overflow: hidden;
}
.orb-nav-sec li {
    float: left;
    min-width: 50%;
}
.orb-nav-sec li a {
    border-right: 1px solid #CCCCCC;
    display: block;
    margin-left: 8px;
    padding-right: 8px;
}
.orb-nav-sec .orb-hilight {
    font-weight: bold;
}
#orb-aside {
    font-weight: bold;
    padding-top: 0;
}
#orb-contentinfo {
    line-height: 2.3;
    padding-top: 2.83em;
}
#orb-contentinfo a {
    border: 0 none;
}
#orb-contentinfo small {
    display: block;
    padding: 1em 0;
}
.orb-footer-transparent-light {
    background-color: transparent;
}
.orb-footer-transparent-light, .orb-footer-transparent-light a, .orb-footer-transparent-light small {
    color: white;
}
.orb-footer-transparent-light, .orb-footer-transparent-light .orb-footer-inner, .orb-footer-transparent-light .orb-footer-inner a {
    border-color: #CCCCCC;
}
.orb-footer-transparent-dark {
    background-color: transparent;
}
.orb-footer-transparent-dark, .orb-footer-transparent-dark a, .orb-footer-transparent-dark small {
    color: #333333;
}
.orb-footer-transparent-dark, .orb-footer-transparent-dark .orb-footer-inner, .orb-footer-transparent-dark .orb-footer-inner a {
    border-color: #333333;
}
.orb-footer-opaque {
    background-color: rgba(0, 0, 0, 0.7);
}
.orb-footer-opaque, .orb-footer-opaque a, .orb-footer-opaque small {
    color: white;
}
.orb-footer-opaque, .orb-footer-opaque .orb-footer-inner, .orb-footer-opaque .orb-footer-inner a {
    border-color: rgba(255, 255, 255, 0.4);
}
.orb-footer-black {
    background-color: black;
}
.orb-footer-black, .orb-footer-black a, .orb-footer-black small {
    color: white;
}
.orb-footer-black, .orb-footer-black .orb-footer-inner, .orb-footer-black .orb-footer-inner a {
    border-color: #666666;
}
.orb-footer-grey {
    background-color: #4C4C4C;
}
.orb-footer-grey, .orb-footer-grey a, .orb-footer-grey small {
    color: white;
}
.orb-footer-grey, .orb-footer-grey .orb-footer-inner, .orb-footer-grey .orb-footer-inner a {
    border-color: #949494;
}
.orb-nav-sec li:nth-of-type(2n) a {
    border: 0 none;
}
.orb-nav-sec {
    padding-top: 1.23em;
}
.orb-nav-sec li {
    min-width: 33.33%;
}
.orb-nav-sec li:nth-of-type(3n) a {
    border: 0 none;
}
.orb-nav-sec ul {
    margin-left: -16px;
}
.orb-nav-sec li {
    min-width: 25%;
}
.orb-nav-sec li a {
    margin-left: 16px;
    padding-right: 16px;
}
.orb-nav-sec li:nth-of-type(4n) a {
    border: 0 none;
}
.orb-nav-sec .orb-footer-inner h2 img {
    height: 24px;
    width: 84px;
}
.orb-nav-sec ul {
    margin-left: -16px;
}
.orb-nav-sec li {
    min-width: 16.667%;
}
.orb-nav-sec li a {
    margin-left: 16px;
    padding-right: 16px;
}
.orb-nav-sec li:nth-child(6n) a {
    border: 0 none;
}
.orb-nav-sec .orb-footer-inner h2 img {
    height: 24px;
    width: 84px;
}
.orb-banner-wrapper {
    font-size: 1.3em;
    line-height: 1;
    padding: 16px 0;
}
.orb-banner {
    margin: 0 auto;
    max-width: 740px;
}
.orb-banner:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.orb-banner ul {
    font-weight: bold;
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
}
.orb-banner button {
    background: none repeat scroll 0 center transparent;
    border: 0 none;
}
.orb-banner h2 {
    font-size: 1.39em;
    font-weight: bold;
    line-height: 1.11em;
    margin-bottom: 15px;
}
.orb-banner p {
    line-height: 1.231em;
}
.orb-banner-options button, .orb-banner-options a {
    background-color: transparent;
    background-repeat: no-repeat;
    display: block;
    line-height: 1.231em;
    text-decoration: none;
}
.orb-banner-options li {
    padding-top: 8px;
}
.orb-banner-options li:first-child {
    padding-top: 0;
}
.orb-banner-options button {
    cursor: pointer;
    padding: 0;
}
.orb-banner-options *:focus, .orb-banner-options *:hover, .orb-banner-options *:active {
    text-decoration: underline;
}
.orb-banner .orb-banner-title, .orb-banner .orb-banner-content, .orb-banner .orb-banner-options {
    float: left;
    margin: 0;
    width: 30%;
}
.orb-banner .orb-banner-title {
    margin-right: 3.5%;
    width: 20%;
}
.orb-banner .orb-banner-content {
    width: 53%;
}
.orb-banner .orb-banner-options {
    float: right;
    margin-top: 0;
    width: 20%;
}
.bbccookies-banner {
    background-color: #323232;
}
.bbccookies-banner .orb-banner-title {
    color: white;
}
.bbccookies-banner .orb-banner-content {
    color: #BEBEBE;
}
.bbccookies-banner .orb-banner-options a, .bbccookies-banner .orb-banner-options button {
    color: #F6A21D;
}
.bbccookies-banner .orb-banner-options *:focus, .bbccookies-banner .orb-banner-options *:hover {
    color: white;
}
.bbccookies-banner .orb-banner-options button, .bbccookies-banner .orb-banner-options a {
    background-image: url("../img/bbccookies/cookie_prompt_sprite.png");
    padding: 0 0 0 24px;
    text-align: left;
}
.bbccookies-banner #bbccookies-continue button {
    background-position: 0 -251px;
    font-size: 1.39em;
    height: 1em;
    line-height: 1em;
    width: 100%;
}
.bbccookies-banner #bbccookies-continue *:hover {
    background-position: 0 -314px;
}
.bbccookies-banner #bbccookies-more a {
    background-position: 1px -126px;
}
.bbccookies-banner #bbccookies-more *:hover {
    background-position: 1px -190px;
}
.bbccookies-banner #bbccookies-settings a {
    background-position: 1px 1px;
}
.bbccookies-banner #bbccookies-settings *:hover {
    background-position: 1px -62px;
}
.pulse-banner {
    background-color: #EEEEEE;
}
.pulse-banner .orb-banner-title {
    color: #333333;
}
.pulse-banner .orb-banner-content {
    color: #666666;
}
.pulse-banner .orb-banner-options a, .pulse-banner .orb-banner-options button {
    color: #0380A5;
}
.pulse-banner .orb-banner-options *:focus, .pulse-banner .orb-banner-options *:hover {
    color: #02556E;
}
.pulse-banner p {
    margin-top: 0.35em;
}
.pulse-banner .orb-banner-options a, .pulse-banner .orb-banner-options button {
    font-size: 1.39em;
    font-weight: bold;
}
.pulse-banner .pulse-question {
    font-weight: bold;
    margin-top: 0.5em;
}
.orb-nav-pri-container {
}
.orb-nav-pri-container:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#orb-panels {
    height: 0;
    overflow: hidden;
    position: relative;
}
#orb-panels .orb-panel-hide {
    display: none;
}
#orb-panels .orb-panel-show {
    display: block;
}
#orb-panels.orb-panel-active {
    height: auto;
}
.orb-panel {
    border-top: 1px solid #CCCCCC;
    display: none;
}
#orb-panel-more {
    padding-top: 0.615em;
}
#orb-panel-more .orb-panel-content {
    font-size: 1em;
    padding-top: 0;
    position: relative;
}
#orb-panel-more ul {
    margin-left: -16px;
}
#orb-panel-more li a {
    border-right: 0 none;
    display: block;
    height: auto;
    line-height: 1.615em;
    margin: 0 0 0.615em 8px;
    min-height: 1.615em;
    padding: 0.308em 8px;
}
#orb-panel-more li a:hover, #orb-panel-more li a:active, #orb-panel-more li a:focus {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    text-decoration: none;
}
#orb-panel-more-title {
    font-family: "Gill Sans","Gill Sans MT",Arial,sans-serif;
    font-size: 2.154em;
    font-weight: normal;
    line-height: 1.2;
    position: absolute;
    text-transform: uppercase;
}
#orb-panel-more li.orb-first-visible {
    margin-left: 50%;
}
#orb-panel-more li.orb-first-visible {
    margin-left: 33.33%;
}
#orb-panel-more ul {
    margin-left: 25%;
}
#orb-panel-more li {
    width: 33.33%;
}
#orb-panel-more li.orb-first-visible {
    margin-left: auto;
}
#orb-panel-more ul {
    margin-left: 15%;
}
#orb-panel-more li {
    width: 20%;
}
.orb-nav-pri .orb-menu {
    background-color: #FFFFFF;
    color: #333333;
    display: none;
    font-weight: normal;
}
.orb-nav-pri .orb-menu .orb-menu-keyboard .orb-menu-selected, .orb-nav-pri .orb-menu .orb-menu-mouse li:hover {
    background-color: #333333;
    color: #FFFFFF;
}
.orb-nav-pri .orb-menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.orb-nav-pri .orb-menu li {
    display: block;
    float: none;
    margin: 0;
    padding: 8px 16px;
}
.orb-nav-pri .orb-menu b {
    font-weight: bold;
}
.orb-nav-pri .orb-menu-active {
    display: block;
}
.orb-nav-pri .orb-menu-suggest {
    margin-left: -3px;
    position: absolute;
    width: 211px;
}
.orb-nav-pri .orb-menu-suggest ul {
    border-left: 1px solid #CCCCCC;
}
.orb-nav-pri .orb-menu-suggest li {
    cursor: pointer;
}
.orb-nav-pri .orb-menu-suggest-status {
    position: absolute;
    top: -999em;
}
Overlays

    About_PG_14t***.jpg
    Frida_Chime_***.jpg
    Project_PG_1***.jpg

Options
Opacity
0.5
Position (try dragging)
0
0
Lock?
Z-Index
Getting Started

Pixel Perfect is a firefox firebug extension that allows web developers to easily overlay a web composition over top of the developed html. Switching the composition on and off allows the developer to see how many pixels they are off while in development.

To get started, click on the "Add overlay" button to add your design composition.

For more information, please refer to the "Help" menu, or visit http://www.pixelperfectplugin.com
