a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h1, h2 {
  font-family: $gill-sans;
}

h1 {
  color: $off-white;
  font-size: 32px;
  font-weight: 100;
  line-height: 38.4px;
  text-transform: uppercase;
}

h2 {
  color: $medium-grey;
  font-size: 18px;
  line-height: 21.6px;
}




