// Colours

$header-grey: #333030;
$light-grey: #f1f0ec;
$red: #B83826;

$off-white: #F1F0EC;
$medium-grey: #535353;

// Fonts

$gill-sans: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$georgia: Georgia, Times, "Times New Roman", serif;


